# Detailed Data Cleaning/Visualization

*A blog post about the final end-to-end solution (21st place) is available [here](http://alanpryorjr.com), and the source code is [on my github](https://github.com/apryor6/Kaggle-Competition-Santander)*

*This is a Python version of a kernel I wrote in R for this dataset found [here](https://www.kaggle.com/apryor6/santander-product-recommendation/detailed-cleaning-visualization). There are some slight differences between how missing values are treated in Python and R, so the two kernels are not exactly the same, but I have tried to make them as similar as possible. This was done as a convenience to anybody who wanted to use my cleaned data as a starting point but prefers Python to R. It also is educational to compare how the same task can be accomplished in either language.*

The goal of this competition is to predict which new Santander products, if any, a customer will purchase in the following month. Here, I will do some data cleaning, adjust some features, and do some visualization to get a sense of what features might be important predictors. I won't be building a predictive model in this kernel, but I hope this gives you some insight/ideas and gets you excited to build your own model.

Let's get to it

## First Glance
Limit the number of rows read in to avoid memory crashes with the kernel

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
limit_rows   = 500000
df           = pd.read_csv("../Data/train_ver2.csv",dtype={"sexo":str,
                                                    "ind_nuevo":str,
                                                    "ult_fec_cli_1t":str,
                                                    "indext":str}, nrows=limit_rows)
unique_ids   = pd.Series(df["ncodpers"].unique())
limit_people = 1.2e4
unique_id    = unique_ids.sample(n=limit_people)
df           = df[df.ncodpers.isin(unique_id)]
df.describe()

/home/pablo/anaconda2/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2723: DtypeWarning: Columns (15) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/home/pablo/anaconda2/lib/python2.7/site-packages/pandas/core/generic.py:2572: VisibleDeprecationWarning: using a non-integer number instead of an integer will result in an error in the future
  locs = rs.choice(axis_length, size=n, replace=replace, p=weights)
/home/pablo/anaconda2/lib/python2.7/site-packages/numpy/lib/function_base.py:3834: RuntimeWarning: Invalid value encountered in percentile
  RuntimeWarning)

,ncodpers,indrel,indrel_1mes,tipodom,cod_prov,ind_actividad_cliente,renta,ind_ahor_fin_ult1,ind_aval_fin_ult1,ind_cco_fin_ult1,...,ind_hip_fin_ult1,ind_plan_fin_ult1,ind_pres_fin_ult1,ind_reca_fin_ult1,ind_tjcr_fin_ult1,ind_valo_fin_ult1,ind_viv_fin_ult1,ind_nomina_ult1,ind_nom_pens_ult1,ind_recibo_ult1
count,1.200000e+04,11901.000000,11901.000000,11901.0,11848.000000,11901.000000,9.937000e+03,12000.000000,12000.0,12000.000000,...,12000.000000,12000.000000,12000.000000,12000.000000,12000.000000,12000.00000,12000.000000,11970.000000,11970.000000,12000.000000
mean,8.145364e+05,1.164692,1.000084,1.0,26.294058,0.523233,1.320240e+05,0.000167,0.0,0.804083,...,0.006917,0.013583,0.003167,0.053167,0.052333,0.03125,0.005333,0.058814,0.067753,0.148250
std,4.385846e+05,4.014231,0.009167,0.0,12.836071,0.499481,2.621525e+05,0.012909,0.0,0.396921,...,0.082882,0.115758,0.056186,0.224375,0.222708,0.17400,0.072838,0.235286,0.251332,0.355362
min,1.592100e+04,1.000000,1.000000,1.0,1.000000,0.000000,8.638440e+03,0.000000,0.0,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000
25%,3.328258e+05,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.0,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,NaN,NaN,0.000000
50%,9.837550e+05,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.0,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,NaN,NaN,0.000000
75%,1.178274e+06,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.0,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,NaN,NaN,0.000000
max,1.378771e+06,99.000000,2.000000,1.0,52.000000,1.000000,2.203474e+07,1.000000,0.0,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.00000,1.000000,1.000000,1.000000,1.000000

We have a number of demographics for each individual as well as the products they currently own. To make a test set, I will separate the last month from this training data, and create a feature that indicates whether or not a product was newly purchased. First convert the dates. There's `fecha_dato`, the row-identifier date, and `fecha_alta`, the date that the customer joined.

In [3]:
df["fecha_dato"] = pd.to_datetime(df["fecha_dato"],format="%Y-%m-%d")
df["fecha_alta"] = pd.to_datetime(df["fecha_alta"],format="%Y-%m-%d")
df["fecha_dato"].unique()

array(['2015-01-28T00:00:00.000000000'], dtype='datetime64[ns]')

I printed the values just to double check the dates were in standard Year-Month-Day format. I expect that customers will be more likely to buy products at certain months of the year (Christmas bonuses?), so let's add a month column. I don't think the month that they joined matters, so just do it for one.

In [4]:
df["month"] = pd.DatetimeIndex(df["fecha_dato"]).month
df["age"]   = pd.to_numeric(df["age"], errors="coerce")

Are there any columns missing values?

In [5]:
df.isnull().any()

fecha_dato               False
ncodpers                 False
ind_empleado              True
pais_residencia           True
sexo                      True
age                       True
fecha_alta                True
ind_nuevo                 True
antiguedad               False
indrel                    True
ult_fec_cli_1t            True
indrel_1mes               True
tiprel_1mes               True
indresi                   True
indext                    True
conyuemp                  True
canal_entrada             True
indfall                   True
tipodom                   True
cod_prov                  True
nomprov                   True
ind_actividad_cliente     True
renta                     True
segmento                  True
ind_ahor_fin_ult1        False
ind_aval_fin_ult1        False
ind_cco_fin_ult1         False
ind_cder_fin_ult1        False
ind_cno_fin_ult1         False
ind_ctju_fin_ult1        False
ind_ctma_fin_ult1        False
ind_ctop_fin_ult1        False
ind_ctpp_fin_ult1        False
ind_deco_fin_ult1        False
ind_deme_fin_ult1        False
ind_dela_fin_ult1        False
ind_ecue_fin_ult1        False
ind_fond_fin_ult1        False
ind_hip_fin_ult1         False
ind_plan_fin_ult1        False
ind_pres_fin_ult1        False
ind_reca_fin_ult1        False
ind_tjcr_fin_ult1        False
ind_valo_fin_ult1        False
ind_viv_fin_ult1         False
ind_nomina_ult1           True
ind_nom_pens_ult1         True
ind_recibo_ult1          False
month                    False
dtype: bool

Definitely. Onto data cleaning.

## Data Cleaning

Going down the list, start with `age`

In [6]:
with sns.plotting_context("notebook",font_scale=1.5):
    sns.set_style("whitegrid")
    sns.distplot(df["age"].dropna(),
                 bins=80,
                 kde=False,
                 color="tomato")
    sns.plt.title("Age Distribution")
    plt.ylabel("Count")

In addition to NA, there are people with very small and very high ages.
It's also interesting that the distribution is bimodal. There are a large number of university aged students, and then another peak around middle-age. Let's separate the distribution and move the outliers to the mean of the closest one.

In [7]:
"""
# ¿Realmente tiene sentido quitar los menores de 18 y mayores de 100? 
# Pueden ser individuos que tengan un comportamiento muy parecido 
# debido a sus edades extremas. Al centrar sus valores puede que se 
# pierda precision
"""
#df.loc[df.age < 18,"age"]  = df.loc[(df.age >= 18) & (df.age <= 30),"age"].mean(skipna=True)
#df.loc[df.age > 100,"age"] = df.loc[(df.age >= 30) & (df.age <= 100),"age"].mean(skipna=True)
df["age"].fillna(df["age"].mean(),inplace=True)
df["age"]                  = df["age"].astype(int)

In [8]:
with sns.plotting_context("notebook",font_scale=1.5):
    sns.set_style("whitegrid")
    sns.distplot(df["age"].dropna(),
                 bins=80,
                 kde=False,
                 color="tomato")
    sns.plt.title("Age Distribution")
    plt.ylabel("Count")
    plt.xlim((0,120))

Looks better.  

Next `ind_nuevo`, which indicates whether a customer is new or not. How many missing values are there?

In [9]:
df["ind_nuevo"].isnull().sum()

99

Let's see if we can fill in missing values by looking how many months of history these customers have.

In [10]:
months_active = df.loc[df["ind_nuevo"].isnull(),:].groupby("ncodpers", sort=False).size()
months_active.max()

1

Looks like these are all new customers, so replace accordingly.

In [11]:
df.loc[df["ind_nuevo"].isnull(),"ind_nuevo"] = 1

Now, `antiguedad`

In [12]:
df.antiguedad = pd.to_numeric(df.antiguedad,errors="coerce")
np.sum(df["antiguedad"].isnull())

99

That number again. Probably the same people that we just determined were new customers. Double check.

In [13]:
df.loc[df["antiguedad"].isnull(),"ind_nuevo"].describe()

count     99
unique     1
top        1
freq      99
Name: ind_nuevo, dtype: int64

Yup, same people. Let's give them minimum seniority.

In [14]:
df.loc[df.antiguedad.isnull(),"antiguedad"] = df.antiguedad.min()
df.loc[df.antiguedad <0, "antiguedad"]      = 0 # Thanks @StephenSmith for bug-find

Some entries don't have the date they joined the company. Just give them something in the middle of the pack

In [15]:
dates=df.loc[:,"fecha_alta"].sort_values().reset_index()
median_date = int(np.median(dates.index.values))
df.loc[df.fecha_alta.isnull(),"fecha_alta"] = dates.loc[median_date,"fecha_alta"]
df["fecha_alta"].describe()

count                   12000
unique                   3039
top       2011-11-30 00:00:00
freq                      116
first     1995-01-16 00:00:00
last      2015-01-28 00:00:00
Name: fecha_alta, dtype: object

Next is `indrel`, which indicates:

> 1 (First/Primary), 99 (Primary customer during the month but not at the end of the month)

This sounds like a promising feature. I'm not sure if primary status is something the customer chooses or the company assigns, but either way it seems intuitive that customers who are dropping down are likely to have different purchasing behaviors than others.

In [16]:
df["indrel"].isnull().sum()

99

In [17]:
pd.Series([i for i in df.indrel]).value_counts()

1.0     11881
99.0       20
dtype: int64

Fill in missing with the more common status.

In [18]:
df.loc[df.indrel.isnull(),"indrel"] = 1

> tipodom	- Addres type. 1, primary address
 cod_prov	- Province code (customer's address)

`tipodom` doesn't seem to be useful, and the province code is not needed because the name of the province exists in `nomprov`.

In [19]:
df.drop(["tipodom","cod_prov"],axis=1,inplace=True)

Quick check back to see how we are doing on missing values

In [20]:
df.isnull().any()

fecha_dato               False
ncodpers                 False
ind_empleado              True
pais_residencia           True
sexo                      True
age                      False
fecha_alta               False
ind_nuevo                False
antiguedad               False
indrel                   False
ult_fec_cli_1t            True
indrel_1mes               True
tiprel_1mes               True
indresi                   True
indext                    True
conyuemp                  True
canal_entrada             True
indfall                   True
nomprov                   True
ind_actividad_cliente     True
renta                     True
segmento                  True
ind_ahor_fin_ult1        False
ind_aval_fin_ult1        False
ind_cco_fin_ult1         False
ind_cder_fin_ult1        False
ind_cno_fin_ult1         False
ind_ctju_fin_ult1        False
ind_ctma_fin_ult1        False
ind_ctop_fin_ult1        False
ind_ctpp_fin_ult1        False
ind_deco_fin_ult1        False
ind_deme_fin_ult1        False
ind_dela_fin_ult1        False
ind_ecue_fin_ult1        False
ind_fond_fin_ult1        False
ind_hip_fin_ult1         False
ind_plan_fin_ult1        False
ind_pres_fin_ult1        False
ind_reca_fin_ult1        False
ind_tjcr_fin_ult1        False
ind_valo_fin_ult1        False
ind_viv_fin_ult1         False
ind_nomina_ult1           True
ind_nom_pens_ult1         True
ind_recibo_ult1          False
month                    False
dtype: bool

Getting closer.

In [21]:
np.sum(df["ind_actividad_cliente"].isnull())

99

By now you've probably noticed that this number keeps popping up. A handful of the entries are just bad, and should probably just be excluded from the model. But for now I will just clean/keep them.

In [22]:
df.loc[df.ind_actividad_cliente.isnull(),"ind_actividad_cliente"] = \
df["ind_actividad_cliente"].median()

In [23]:
df.nomprov.unique()

array(['VALENCIA', 'TOLEDO', 'SALAMANCA', 'BARCELONA', 'CACERES', 'ZAMORA',
       'CUENCA', 'LUGO', 'AVILA', 'CORU\xc3\x91A, A', 'SEVILLA',
       'ALICANTE', 'CORDOBA', 'MADRID', 'BIZKAIA', 'CADIZ', 'ZARAGOZA',
       'CASTELLON', 'MALAGA', 'BURGOS', 'VALLADOLID', 'TARRAGONA',
       'CANTABRIA', 'SEGOVIA', 'ASTURIAS', 'LERIDA', 'CIUDAD REAL',
       'PONTEVEDRA', 'RIOJA, LA', 'GRANADA', nan, 'MURCIA', 'HUELVA',
       'BADAJOZ', 'GUADALAJARA', 'PALMAS, LAS', 'ALBACETE', 'GIPUZKOA',
       'GIRONA', 'JAEN', 'BALEARS, ILLES', 'SORIA', 'LEON', 'OURENSE',
       'ALMERIA', 'HUESCA', 'ALAVA', 'PALENCIA', 'NAVARRA',
       'SANTA CRUZ DE TENERIFE', 'TERUEL', 'MELILLA', 'CEUTA'], dtype=object)

There was an issue with the unicode character ñ in [A Coruña](https://en.wikipedia.org/wiki/A_Coruña). I'll manually fix it, but if anybody knows a better way to catch cases like this I would be very glad to hear it in the comments.

In [24]:
df.loc[df.nomprov=="CORU\xc3\x91A, A","nomprov"] = "CORUNA, A"

There's some rows missing a city that I'll relabel

In [25]:
df.loc[df.nomprov.isnull(),"nomprov"] = "UNKNOWN"

Now for gross income, aka `renta`

In [26]:
df.renta.isnull().sum()

2063

Here is a feature that is missing a lot of values. Rather than just filling them in with a median, it's probably more accurate to break it down region by region. To that end, let's take a look at the median income by region, and in the spirit of the competition let's color it like the Spanish flag.

In [27]:
#df.loc[df.renta.notnull(),:].groupby("nomprov").agg([{"Sum":sum},{"Mean":mean}])
incomes = df.loc[df.renta.notnull(),:].groupby("nomprov").agg({"renta":{"MedianIncome":np.median}})
incomes.sort_values(by=("renta","MedianIncome"),inplace=True)
incomes.reset_index(inplace=True)
incomes.nomprov = incomes.nomprov.astype("category", categories=[i for i in df.nomprov.unique()],ordered=False)
incomes.head()

       nomprov        renta
               MedianIncome
0       CUENCA    55334.925
1       LERIDA    59210.310
2  CIUDAD REAL    61072.530
3        AVILA    61646.610
4         JAEN    62453.640

In [28]:
with sns.axes_style({
        "axes.facecolor":   "#ffc400",
        "axes.grid"     :    False,
        "figure.facecolor": "#c60b1e"}):
    h = sns.factorplot(data=incomes,
                   x="nomprov",
                   y=("renta","MedianIncome"),
                   order=(i for i in incomes.nomprov),
                   size=6,
                   aspect=1.5,
                   scale=1.0,
                   color="#c60b1e",
                   linestyles="None")
plt.xticks(rotation=90)
plt.tick_params(labelsize=16,labelcolor="#ffc400")#
plt.ylabel("Median Income",size=32,color="#ffc400")
plt.xlabel("City",size=32,color="#ffc400")
plt.title("Income Distribution by City",size=40,color="#ffc400")
plt.ylim(0,180000)
plt.yticks(range(0,180000,40000))

([<matplotlib.axis.YTick at 0x7f42e0717d90>,
  <matplotlib.axis.YTick at 0x7f42e07365d0>,
  <matplotlib.axis.YTick at 0x7f42e0698b10>,
  <matplotlib.axis.YTick at 0x7f42e06a1ad0>,
  <matplotlib.axis.YTick at 0x7f42e06b8090>],
 <a list of 5 Text yticklabel objects>)

There's a lot of variation, so I think assigning missing incomes by providence is a good idea. First group the data by city, and reduce to get the median. This intermediate data frame is joined by the original city names to expand the aggregated median incomes, ordered so that there is a 1-to-1 mapping between the rows, and finally the missing values are replaced.

In [29]:

grouped        = df.groupby("nomprov").agg({"renta":lambda x: x.median(skipna=True)}).reset_index()
new_incomes    = pd.merge(df,grouped,how="inner",on="nomprov").loc[:, ["nomprov","renta_y"]]
new_incomes    = new_incomes.rename(columns={"renta_y":"renta"}).sort_values("renta").sort_values("nomprov")
df.sort_values("nomprov",inplace=True)
df             = df.reset_index()
new_incomes    = new_incomes.reset_index()

In [30]:

df.loc[df.renta.isnull(),"renta"] = new_incomes.loc[df.renta.isnull(),"renta"].reset_index()
df.loc[df.renta.isnull(),"renta"] = df.loc[df.renta.notnull(),"renta"].median()
df.sort_values(by="fecha_dato",inplace=True)

The next columns with missing data I'll look at are features, which are just a boolean indicator as to whether or not that product was owned that month. Starting with `ind_nomina_ult1`..

In [31]:
df.ind_nomina_ult1.isnull().sum()

30

I could try to fill in missing values for products by looking at previous months, but since it's such a small number of values for now I'll take the cheap way out.

In [32]:
df.loc[df.ind_nomina_ult1.isnull(), "ind_nomina_ult1"] = 0
df.loc[df.ind_nom_pens_ult1.isnull(), "ind_nom_pens_ult1"] = 0

There's also a bunch of character columns that contain empty strings. In R, these are kept as empty strings instead of NA like in pandas. I originally worked through the data with missing values first in R, so if you are wondering why I skipped some NA columns here that's why. I'll take care of them now. For the most part, entries with NA will be converted to an unknown category.  
First I'll get only the columns with missing values. Then print the unique values to determine what I should fill in with.

In [33]:
string_data = df.select_dtypes(include=["object"])
missing_columns = [col for col in string_data if string_data[col].isnull().any()]
for col in missing_columns:
    print("Unique values for {0}:\n{1}\n".format(col,string_data[col].unique()))
del string_data

Unique values for ind_empleado:
['N' 'F' 'B' 'A' nan]

Unique values for pais_residencia:
['ES' 'DO' 'GB' nan 'MX' 'DE' 'BY' 'EC' 'PL' 'CO' 'BG' 'BE' 'BR' 'CU' 'CA'
 'PY' 'IT' 'RO' 'CH' 'PE' 'LU' 'SE' 'FR' 'US' 'UY' 'AU' 'SA' 'MD' 'HR' 'AR']

Unique values for sexo:
['V' 'H' nan]

Unique values for ult_fec_cli_1t:
[nan '2015-07-27' '2015-07-07' '2015-07-09' '2015-07-17' '2015-07-15'
 '2015-07-01' '2015-07-30' '2015-07-02' '2015-07-13' '2015-07-23'
 '2015-07-06' '2015-07-16' '2015-07-14' '2015-07-21' '2015-07-03'
 '2015-07-28']

Unique values for tiprel_1mes:
['A' 'I' nan]

Unique values for indresi:
['S' 'N' nan]

Unique values for indext:
['N' 'S' nan]

Unique values for conyuemp:
[nan 'N' 'S']

Unique values for canal_entrada:
['007' 'KHE' 'KAT' 'KFC' 'KFA' 'KAW' 'KCI' 'KAR' 'KAG' 'KAS' 'KAZ' 'KCC'
 'KHD' 'KAD' 'KHK' 'KAY' 'KBH' 'KHC' 'KBZ' '013' 'KAQ' 'KAA' 'KFD' 'KEH'
 'KHF' 'KBO' 'KAC' 'KGY' 'KDZ' 'KEY' 'KDY' 'KDX' 'KFN' 'KBQ' 'KCB' 'KAE'
 'KEJ' 'RED' 'KEW' 'KCH' 'KBV' 'KEZ' 'KBR' 'KBU' 'KHO' 'KAU' 'KCG' 'KEI'
 'KBF' 'KCL' 'KCD' 'KBL' 'KCA' 'KAB' 'KHL' 'KDR' 'KAJ' 'KDT' 'KCM' nan
 'KDC' 'KAP' 'KCS' 'KAF' 'KAL' 'KCK' 'KDU' 'KEN' 'KAH' 'K00' 'KEC' 'KEA'
 'KDP' 'KFP' 'KFG' 'KAI' 'KFR' 'KAM' 'KFF' 'KES' 'KFK' 'KFH' 'KDE' 'KEF'
 'KDG' 'KGX' 'KBY' 'KDM' 'KBB' 'KFL' 'KGV' 'KFJ' 'KHM']

Unique values for indfall:
['N' 'S' nan]

Unique values for segmento:
['02 - PARTICULARES' '03 - UNIVERSITARIO' '01 - TOP' nan]

Okay, based on that and the definitions of each variable, I will fill the empty strings either with the most common value or create an unknown category based on what I think makes more sense.

In [34]:
df.loc[df.indfall.isnull(),"indfall"] = "N"
df.loc[df.tiprel_1mes.isnull(),"tiprel_1mes"] = "A"
df.tiprel_1mes = df.tiprel_1mes.astype("category")

# As suggested by @StephenSmith
map_dict = { 1.0  : "1",
            "1.0" : "1",
            "1"   : "1",
            "3.0" : "3",
            "P"   : "P",
            3.0   : "3",
            2.0   : "2",
            "3"   : "3",
            "2.0" : "2",
            "4.0" : "4",
            "4"   : "4",
            "2"   : "2"}

df.indrel_1mes.fillna("P",inplace=True)
df.indrel_1mes = df.indrel_1mes.apply(lambda x: map_dict.get(x,x))
df.indrel_1mes = df.indrel_1mes.astype("category")


unknown_cols = [col for col in missing_columns if col not in ["indfall","tiprel_1mes","indrel_1mes"]]
for col in unknown_cols:
    df.loc[df[col].isnull(),col] = "UNKNOWN"

Let's check back to see if we missed anything

In [35]:
df.isnull().any()

index                    False
fecha_dato               False
ncodpers                 False
ind_empleado             False
pais_residencia          False
sexo                     False
age                      False
fecha_alta               False
ind_nuevo                False
antiguedad               False
indrel                   False
ult_fec_cli_1t           False
indrel_1mes              False
tiprel_1mes              False
indresi                  False
indext                   False
conyuemp                 False
canal_entrada            False
indfall                  False
nomprov                  False
ind_actividad_cliente    False
renta                    False
segmento                 False
ind_ahor_fin_ult1        False
ind_aval_fin_ult1        False
ind_cco_fin_ult1         False
ind_cder_fin_ult1        False
ind_cno_fin_ult1         False
ind_ctju_fin_ult1        False
ind_ctma_fin_ult1        False
ind_ctop_fin_ult1        False
ind_ctpp_fin_ult1        False
ind_deco_fin_ult1        False
ind_deme_fin_ult1        False
ind_dela_fin_ult1        False
ind_ecue_fin_ult1        False
ind_fond_fin_ult1        False
ind_hip_fin_ult1         False
ind_plan_fin_ult1        False
ind_pres_fin_ult1        False
ind_reca_fin_ult1        False
ind_tjcr_fin_ult1        False
ind_valo_fin_ult1        False
ind_viv_fin_ult1         False
ind_nomina_ult1          False
ind_nom_pens_ult1        False
ind_recibo_ult1          False
month                    False
dtype: bool

Convert the feature columns into integer values (you'll see why in a second), and we're done cleaning

In [36]:
feature_cols = df.iloc[:1,].filter(regex="ind_+.*ult.*").columns.values
for col in feature_cols:
    df[col] = df[col].astype(int)

In [ ]:
df.to_csv('../Data/train_ver2_clean2.csv')